<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ToDoApp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div id="head">
                <h1 class="pt-3 pb-3 border-bottom">ToDoApp</h1>
            </div>

            <div id="content">
                <p class="mt-3 task-count">Remaining Tasks: {{ taskCount }}</p>

                <div class="tasks">
                    <task-list
                        :tasks="tasks"
                        v-on:add-task="addTask"
                        v-on:remove-task="removeTask"></task-list>

                    <p v-if="tasks.length <= 0">{{ no_tasks_message }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- ToDoApp Vue Source -->
    <script src="main.js"></script>
</body>
</html>